.venv/
__pycache__/
calc_gross_pay.py
CoinToss.py
CoinClass.py
InsectClass.py
InsectProgram.py
BankAccountClass.py
BankAccountProgram.py
PhoneClass.py
PhoneClassProgram.py
pass_obj.py
StudentClass.py
StudentProgram.py